<div class="container-fluid" >
    <div class="row">
      <div class = "col-2 logo-container" >
         <img src="assets/images/log.png" class="logo-size" />
      </div>
      <div class = "col-6 offset-3" style="margin-top:15px;">
        <div class="row get-in-touch">
            <div class="col-3 text-right  location-container" >
                <a href="#" routerLinkActive="active" routerLink="/contact/locate">
                    <i class="fas fa-street-view" style="color:#919191"></i>
                    <span class="text"> &nbsp;Locate us</span>
                </a>
                
            </div>
            <div class="col-2  text-right location-container">
                <a href="#" routerLinkActive="active" routerLink="/contact/email">
                    <i class="fas fa-envelope" style="color:#919191;margin-left:-10px"></i>
                        <span class="text"> &nbsp;Email us</span>
                </a>
             
            </div>
            <div class="col-3 location-container">
                    <i class="fas fa-phone-alt" style="color:#919191;margin-left:-10px"></i>
                <span class="text"> &nbsp;(033)26832683</span>
            </div>
            <div class="col-3 ">
                    <a href="//web.whatsapp.com/send?phone=919051760235" style="text-decoration: none;">
                    <i class="fab fa-whatsapp-square" style="color:#919191;margin-left:-10px"></i>
                <span class="text"> &nbsp;WhatsApp</span>
                </a>
            </div>
        </div>
     </div>
   </div>
  </div>