<app-header></app-header>
<div class="container-fluid nav-container" >
<app-navbar></app-navbar>
<div class="row" style="margin-top:40px;margin-bottom:70px;">
    <div class="container">
        <div class="row blog">
            <div class="col-md-12">
                <div id="blogCarousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#blogCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">

                      <div class="carousel-item active">
                          <div class="row">
                            <div class="col-4">
                                <div class="row active-with-click">
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <article class="material-card Grey">
                                            <h2>
                                                <span>Durga Puja Offer</span>
                                                <strong>
                                                    <i class="fa fa-fw fa-star"></i>
                                                    20-30% off
                                                </strong>
                                            </h2>
                                            <div class="mc-content">
                                                <div class="img-container">
                                                    <img class="img-responsive"  src="assets/images/durga.jpg">
                                                </div>
                                                <div class="mc-description">
                                                    Durga Puja, also called Durgotsava, is an annual Hindu festival originating in the Indian subcontinent which reveres and pays homage to the Hindu goddess, Durga.
                                                </div>
                                            </div>
                                            <a class="mc-btn-action">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                        </div>
                        <div class="col-4">
                          <div class="row active-with-click">
                              <div class="col-md-12 col-sm-6 col-xs-12">
                                  <article class="material-card Grey">
                                      <h2>
                                          <span>Diwali Offer</span>
                                          <strong>
                                              <i class="fa fa-fw fa-star"></i>
                                              25-35% off
                                          </strong>
                                      </h2>
                                      <div class="mc-content">
                                          <div class="img-container">
                                              <img class="img-responsive" style="height:100%" src="assets/images/diwali.jpg">
                                          </div>
                                          <div class="mc-description">
                                            One of the most popular festivals of Hinduism, Diwali symbolises the spiritual "victory of light over darkness, good over evil, and knowledge over ignorance.
                                          </div>
                                      </div>
                                      <a class="mc-btn-action">
                                          <i class="fa fa-bars"></i>
                                      </a>
                                  </article>
                              </div>
                          </div>
                  </div>
                  <div class="col-4">
                      <div class="row active-with-click">
                          <div class="col-md-12 col-sm-6 col-xs-12">
                              <article class="material-card Grey">
                                  <h2>
                                      <span>Valentine's Day Offer</span>
                                      <strong>
                                          <i class="fa fa-fw fa-star"></i>
                                          20-30% off
                                      </strong>
                                  </h2>
                                  <div class="mc-content">
                                      <div class="img-container">
                                          <img class="img-responsive" style="height:100%" src="assets/images/valentine.jpg">
                                      </div>
                                      <div class="mc-description">
                                        Valentine's Day, also called Saint Valentine's Day or the Feast of Saint Valentine, is celebrated annually on February 14.
                                      </div>
                                  </div>
                                  <a class="mc-btn-action">
                                      <i class="fa fa-bars"></i>
                                  </a>
                              </article>
                          </div>
                      </div>
                  </div>
                          </div>
                          <!--.row-->
                      </div>
                        <!--.item-->

                        <div class="carousel-item">
                          <div class="row">
                            <div class="col-4">
                                <div class="row active-with-click">
                                    <div class="col-md-12 col-sm-6 col-xs-12">
                                        <article class="material-card Grey">
                                            <h2>
                                                <span>Dhanteras Offer</span>
                                                <strong>
                                                    <i class="fa fa-fw fa-star"></i>
                                                    20-30% off
                                                </strong>
                                            </h2>
                                            <div class="mc-content">
                                                <div class="img-container">
                                                    <img class="img-responsive" style="width:100%;height:100%" src="assets/images/dhanteras.jpg">
                                                </div>
                                                <div class="mc-description">
                                                    Dhanteras, also known as Dhanatrayodashi, is the first day that marks the festival of Diwali in India. It is celebrated on the thirteenth lunar day of Krishna Paksha in the Hindu calendar month of Kartik.
                                                </div>
                                            </div>
                                            <a class="mc-btn-action">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </article>
                                    </div>
                                </div>
                        </div>
                        <div class="col-4">
                          <div class="row active-with-click">
                              <div class="col-md-12 col-sm-6 col-xs-12">
                                  <article class="material-card Grey">
                                      <h2>
                                          <span>New Year Offer</span>
                                          <strong>
                                              <i class="fa fa-fw fa-star"></i>
                                              25-35% off
                                          </strong>
                                      </h2>
                                      <div class="mc-content">
                                          <div class="img-container">
                                              <img class="img-responsive" style="height:100%" src="assets/images/new-year.jpg">
                                          </div>
                                          <div class="mc-description">
                                            New Year is the time or day at which a new calendar year begins and the calendar's year count increments by one. Many cultures celebrate the event in some manner and the 1st day of January is often marked as a national holiday.
                                          </div>
                                      </div>
                                      <a class="mc-btn-action">
                                          <i class="fa fa-bars"></i>
                                      </a>
                                  </article>
                              </div>
                          </div>
                  </div>
                  <div class="col-4">
                      <div class="row active-with-click">
                          <div class="col-md-12 col-sm-6 col-xs-12">
                              <article class="material-card Grey">
                                  <h2>
                                      <span>Valentine's Day Offer</span>
                                      <strong>
                                          <i class="fa fa-fw fa-star"></i>
                                          20-30% off
                                      </strong>
                                  </h2>
                                  <div class="mc-content">
                                      <div class="img-container">
                                          <img class="img-responsive" style="height:100%" src="assets/images/valentine.jpg">
                                      </div>
                                      <div class="mc-description">
                                        Valentine's Day, also called Saint Valentine's Day or the Feast of Saint Valentine, is celebrated annually on February 14.
                                      </div>
                                  </div>
                                  <a class="mc-btn-action">
                                      <i class="fa fa-bars"></i>
                                  </a>
                              </article>
                          </div>
                      </div>
                  </div>
                          </div>
                          <!--.row-->
                      </div>
                        <!--.item-->

                    </div>
                    <!--.carousel-inner-->
                </div>
                <!--.Carousel-->

            </div>
        </div>
</div>
  </div>
  
  <app-footer></app-footer>
  </div>



  <!-- dummy -->
  
  

 