<app-header></app-header>
<div class="container-fluid nav-container" >
<app-navbar></app-navbar>
<div class="row" style="margin-top:40px;margin-bottom:40px;">
  <div class="container">
    <div class="row slider">
    <div class="col-4 slide" id="slide-1">
            <div class="row active-with-click">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <article class="material-card Grey">
                        <h2>
                            <span>Durga Puja Offer</span>
                            <strong>
                                <i class="fa fa-fw fa-star"></i>
                                20-30% off
                            </strong>
                        </h2>
                        <div class="mc-content">
                            <div class="img-container">
                                <img class="img-responsive" style="width:100%;height:100%" src="assets/images/durga.jpg">
                            </div>
                            <div class="mc-description">
                                He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                            </div>
                        </div>
                        <a class="mc-btn-action">
                            <i class="fa fa-bars"></i>
                        </a>
                    </article>
                </div>
            </div>
    </div>
    <div class="col-4 slide" id="slide-2">
        <div class="row active-with-click">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <article class="material-card Grey">
                    <h2>
                        <span>Diwali Offer</span>
                        <strong>
                            <i class="fa fa-fw fa-star"></i>
                            25-35% off
                        </strong>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" style="height:100%" src="assets/images/diwali.jpg">
                        </div>
                        <div class="mc-description">
                            He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                        </div>
                    </div>
                    <a class="mc-btn-action">
                        <i class="fa fa-bars"></i>
                    </a>
                </article>
            </div>
        </div>
</div>
<div class="col-4 slide" id="slide-3">
    <div class="row active-with-click">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <article class="material-card Grey">
                <h2>
                    <span>Valentine's Day Offer</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        20-30% off
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" style="height:100%" src="assets/images/valentine.jpg">
                    </div>
                    <div class="mc-description">
                        He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
            </article>
        </div>
    </div>
</div>
  </div>
  </div>
  </div>
  <app-footer></app-footer>
  </div>



  <!-- dummy -->


 