@import url('https://fonts.googleapis.com/css?family=Philosopher&display=swap');

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

button {
    color:#919191;
}

li {
    padding:10px;
    color:#919191;
    transition:all 0.3s ease-in-out;
}

li a {
    text-decoration: none;
    color:#919191;
    font-family: 'Philosopher', sans-serif;
    transition:all 0.3s ease-in-out;
}

/* li a:hover {
    color:white;
} */

li a:hover{
    letter-spacing:4px;
}

.nav-text {
    font-family: 'Philosopher', sans-serif;
    font-size:20px;
}