<app-header></app-header>
<div class="container-fluid nav-container" >
<app-navbar></app-navbar>
<div class="row">
  <div class="container">
    <div class="row text-center" style="justify-content: center">
      <div class="col-xs-12 col-sm-12  col-md-3  rate-box">
        <h1>Gold rate</h1>
        <div class="Single1">1256</div>
      </div>
      <div class="col-xs-12 col-sm-12  col-md-3 offset-md-2 rate-box">
          <h1>Silver rate</h1>
          <div class="Single2">1467</div>
        </div>
        <div class="col-xs-12 col-sm-12 offset-md-1 col-md-3 rate-box">
            <h1>Diamond rate</h1>
            <div class="Single3">1098</div>
          </div>
    </div>
  </div>
  </div>
  <app-footer></app-footer>
  </div>