<app-header></app-header>
<div class="container-fluid nav-container" >
<app-navbar></app-navbar>
<div class="row">
  <div class="container">
    <div class="row text-center" style="justify-content: center">
      <div class="col-xs-12 col-sm-12  col-md-3  rate-box">
        <h1>Gold rate</h1>
        <i class="fas fa-rupee-sign"></i> &nbsp;<span class="Single1">{{goldRate}}</span>
        <p>10gm of 24K gold.</p>
      </div>
      <div class="col-xs-12 col-sm-12  col-md-3 offset-md-2 rate-box">
          <h1>Silver rate</h1>
          <i class="fas fa-rupee-sign"></i> &nbsp;<span class="Single2">{{silverRate}}</span>
          <p>10gm of silver.</p>
        </div>
        <div class="col-xs-12 col-sm-12 offset-md-1 col-md-3 rate-box">
            <h1>Diamond rate</h1>
            <i class="fas fa-rupee-sign"></i> &nbsp;<span class="Single3">{{diamondRate}}</span>
            <p>50gm of diamond.</p>
          </div>
    </div>
  </div>
  </div>
  <app-footer></app-footer>
  </div>