<app-header></app-header>
<div class="container-fluid nav-container">
  <app-navbar></app-navbar>

<div class="container" style="margin-top:40px">
  <div class="row">
    <div class="col-sm-12 col-md-11 offset-md-1" style="margin-bottom:20px">
      <div class="row">
          <div class="col-sm-12 col-md-3  box" >
            <a data-toggle="modal" data-target="#imgModal">
                <img src="assets/images/silver/bangles/bangle1.jpg" (click)="selectedImage($event.target)" class="image"  />
            </a>
                  
      
              </div>
              <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
                    <img src="assets/images/silver/bangles/bangle2.jpg" (click)="selectedImage($event.target)" class="image"/>
                </a>
                
              </div>
              <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
                    <img src="assets/images/silver/bangles/bangle3.jpg" (click)="selectedImage($event.target)" class="image"/>
                </a>
                
              </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-11 offset-md-1" style="margin-bottom:20px">
      <div class="row">
          <div class="col-sm-12 col-md-3 box ">
              <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle4.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle5.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle6.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
      </div>
    </div>

   <div class="col-sm-12 col-md-11 offset-md-1" style="margin-bottom:20px">
     <div class="row">
        <div class="col-sm-12 col-md-3 box">
            <a data-toggle="modal" data-target="#imgModal">
            <img src="assets/images/silver/bangles/bangle7.jpg" (click)="selectedImage($event.target)" class="image"/>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 offset-md-1 box">
              <a data-toggle="modal" data-target="#imgModal">
            <img src="assets/images/silver/bangles/bangle8.jpg" (click)="selectedImage($event.target)" class="image"/>
            </a>
          </div>
          <div class="col-sm-12 col-md-3 offset-md-1 box ">
              <a data-toggle="modal" data-target="#imgModal">
            <img src="assets/images/silver/bangles/bangle9.jpg" (click)="selectedImage($event.target)" class="image"/>
            </a>
          </div>
     </div>
   </div>

    <div class="col-sm-12 col-md-11 offset-md-1" style="margin-bottom:20px">
      <div class="row">
          <div class="col-sm-12 col-md-3 box">
              <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle10.webp" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle11.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle12.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-11 offset-md-1" style="margin-bottom:20px">
      <div class="row">
          <div class="col-sm-12 col-md-3 box">
              <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle13.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle14.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle15.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-11 offset-md-1" style="margin-bottom:20px">
      <div class="row">
          <div class="col-sm-12 col-md-3 box">
              <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle16.webp" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle17.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
            <div class="col-sm-12 col-md-3 offset-md-1 box">
                <a data-toggle="modal" data-target="#imgModal">
              <img src="assets/images/silver/bangles/bangle18.jpg" (click)="selectedImage($event.target)" class="image"/>
              </a>
            </div>
      </div>
    </div>
    
  </div>
  <app-footer></app-footer>

</div>

  
  <!-- Modal -->
  <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        <div class="modal-body">
          <img [src]="this.selectedPic"  style="width:100%"/>
        </div>
      </div>
    </div>
  </div>
</div>
