<div class="container-fluid collection-container text-center">
    <div class="col-12" style="color:#28242F">
        <p>Lorem Ipsum është një tekst shabllon i industrisë së printimit dhe shtypshkronjave. Lorem Ipsum ka qenë teksti shabllon i industrisë që nga vitet 1500, kur një shtypës i panjohur morri një galeri shkrimesh dhe i ngatërroi për të krijuar një libër mostër. Teksti i ka mbijetuar jo vetëm pesë shekujve, por edhe kalimit në shtypshkrimin elektronik, duke ndenjur në thelb i pandryshuar. U bë i njohur në vitet 1960 me lëshimin e letrave 'Letraset' që përmbanin tekstin Lorem Ipsum, e në kohët e fundit me aplikacione publikimi si Aldus PageMaker që përmbajnë versione të Lorem Ipsum</p>
    </div>
    <div class="col-12 collection-container">
      <br />
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:-14px;">
              <ul class="list-unstyled list-inline social text-center">
                <li class="list-inline-item" style="padding-right:10px;" ><a href="javascript:void();"><i class="fab fa-facebook-f" style="color:#919191"></i></a></li>
                <li class="list-inline-item" style="padding-right:10px;"><a href="javascript:void();"><i class="fab fa-whatsapp" style="color:#919191"></i></a></li>
                <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="far fa-envelope" style="color:#919191"></i></a></li>
              </ul>
            </div>
            <div class="col-12 text-center">
                <p style="font-size:15px; color:#28242F">Copyright © 2019 Omkar Jewellers. All rights reserved.</p>
             </div>
      </div>
      </div>
    </div>